/* Control Holder */
#bookingForm {
  position: relative;
  width: 100%;
  height: 263px;
  font: 14px/24px 'Ubuntu', sans-serif;
}
#bookingForm *::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
#bookingForm *:-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#bookingForm *::-moz-placeholder {
  color: #fff;
  opacity: 1;
}
#bookingForm *:-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
#bookingForm input,
#bookingForm textarea {
  outline: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px #d2d7d3 solid;
  border-color: rgba(255, 255, 255, 0.49);
  color: #ffffff;
  background: #CED2CC;
  background: rgba(255, 255, 255, 0.25);
  padding: 12px 10px 13px;
  font-size: 14px;
  line-height: 20px;
  height: 45px;
  width: 100%;
}
#bookingForm textarea {
  min-height: 200px;
  resize: none;
  font: 14px/24px 'Ubuntu', sans-serif;
}
#bookingForm a.btn {
  display: inline-block;
  padding: 24px 20px 24px 20px;
  line-height: 20px;
  -moz-transition: 0.3s background ease;
  -o-transition: 0.3s background ease;
  -webkit-transition: 0.3s background ease;
  transition: 0.3s background ease;
  display: block;
  color: #FFF;
  background: #cc181e;
  font-weight: 400;
  font-size: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
#bookingForm a.btn:hover {
  background: #e73036;
}
#bookingForm * + p {
  margin-top: 10px;
}

.controlHolder {
  position: relative;
}

.controlHolder + .controlHolder {
  margin-top: 20px;
}

.controlHolder + .btn {
  margin-top: 20px;
}

/* Messages */
.error-message {
  position: absolute;
  top: 4px;
  right: 2px;
  font-weight: normal;
  text-align: right;
  width: 100%;
  font-size: 10px;
  line-height: 1em;
  z-index: 4;
  color: #FE5353;
}

.success-message {
  position: absolute;
  top: 100%;
  text-align: left;
  margin: 5px 0px;
  color: #13FF63;
  font-size: 14px;
  line-height: 15px;
}

/* transformSelect CSS */
/* 1st type of select */
.tmSelect, .tmSelect2 {
  clear: both;
  width: 100%;
  margin: 0px;
}
.tmSelect li, .tmSelect2 li {
  position: relative;
  list-style: none;
}
.tmSelect span, .tmSelect input[type=text], .tmSelect2 span, .tmSelect2 input[type=text] {
  position: relative;
  cursor: pointer;
  display: block;
  left: 0;
  top: 0;
  margin: 0;
}
.tmSelect:after, .tmSelect2:after {
  content: '\f002';
  position: absolute;
  top: 8px;
  right: 9px;
  font: normal normal 18px 'FontAwesome';
  color: #CCC;
  z-index: 4;
}
.tmSelect.auto, .tmSelect2.auto {
  cursor: pointer;
  padding: 0;
  margin: 0 0 20px 0;
  line-height: 20px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px #d2d7d3 solid;
  border-color: rgba(255, 255, 255, 0.49);
  color: #ffffff;
  background: #CED2CC;
  background: rgba(255, 255, 255, 0.25);
  font: 14px/24px 'Ubuntu', sans-serif;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tmSelect.auto span, .tmSelect2.auto span {
  background: transparent;
}
.tmSelect.auto ul, .tmSelect2.auto ul {
  margin: 1px 0 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: #F9F9F9;
}
.tmSelect.auto > li:first-child > span, .tmSelect2.auto > li:first-child > span {
  padding: 7px 12px;
  width: 35px;
  height: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.tmSelect ul, .tmSelect .transformSelectDropdown, .tmSelect2 ul, .tmSelect2 .transformSelectDropdown {
  position: absolute;
  width: 100%;
  max-height: 210px;
  padding: 7px 0px;
  margin: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px #d2d7d3 solid;
  border-color: rgba(255, 255, 255, 0.49);
  color: #ffffff;
  background: #CED2CC;
  background: rgba(255, 255, 255, 0.25);
  font: 14px/24px 'Ubuntu', sans-serif;
  border-top: none;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: none;
  background: #F9F9F9;
  z-index: 10;
}
.tmSelect ul span, .tmSelect .transformSelectDropdown span, .tmSelect2 ul span, .tmSelect2 .transformSelectDropdown span {
  border: 0;
  color: #000;
  padding: 5px 13px;
}
.tmSelect ul span:hover, .tmSelect .transformSelectDropdown span:hover, .tmSelect2 ul span:hover, .tmSelect2 .transformSelectDropdown span:hover {
  background: #CCC;
}
.tmSelect ul li input[type=checkbox], .tmSelect2 ul li input[type=checkbox] {
  position: relative;
  top: 2px;
  margin: 0 5px 0 0;
  cursor: pointer;
}

/* 2nd type of select */
.tmSelect2:after {
  content: '\f0ab';
}

/* Radio */
.trans-element-radio {
  display: inline-block;
  display: block;
  zoom: 1;
  width: 15px;
  height: 15px;
  cursor: pointer;
}

.tmRadio {
  padding-left: 0;
}
.tmRadio p {
  padding-bottom: 0;
  margin-bottom: 0;
}
.tmRadio p {
  padding-bottom: 0;
  margin-bottom: 3px;
}
.tmRadio input {
  margin-right: 5px;
}
.tmRadio .unchecked, .tmRadio .checked {
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.tmRadio .unchecked:after, .tmRadio .checked:after {
  content: '\f10c';
  position: relative;
  top: 2px;
  font: normal normal 18px 'FontAwesome';
  color: #CCC;
}
.tmRadio .checked:after {
  content: '\f05d';
}

/* Checkbox */
.trans-element-checkbox {
  cursor: pointer;
  zoom: 1;
}
.trans-element-checkbox span {
  padding-left: 40px;
}
.trans-element-checkbox.checked:after {
  content: '\f046';
}
.trans-element-checkbox:after {
  content: '\f096';
  position: relative;
  display: inline-block;
  top: 2px;
  width: 17px;
  font: normal normal 18px 'FontAwesome';
  color: #CCC;
}
.trans-element-checkbox.unchecked:after {
  content: '\f096';
}

.tmCheckbox, .tmRadio {
  margin-left: 0;
  padding-left: 0;
  padding: 0;
}
.tmCheckbox span, .tmRadio span {
  position: relative;
  margin-right: 10px;
}

/* Datepicker */
.tmDatepicker {
  position: relative;
  margin-bottom: 20px;
}
.tmDatepicker:after {
  content: '\f073';
  position: absolute;
  top: 7px;
  right: 9px;
  font: normal normal 18px 'FontAwesome';
  color: #CCC;
  z-index: 4;
}

.ui-datepicker {
  padding: 10px;
  width: 300px;
  font-size: 13px;
  display: none;
  z-index: 100 !important;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 2px #d2d7d3 solid;
  border-color: rgba(255, 255, 255, 0.49);
  color: #ffffff;
  background: #CED2CC;
  background: rgba(255, 255, 255, 0.25);
  background: #F9F9F9;
}
.ui-datepicker a {
  color: #777;
}
.ui-datepicker a:hover {
  color: #000;
  text-decoration: none;
}

.ui-datepicker-prev, .ui-datepicker-next {
  cursor: pointer;
  float: left;
}

.ui-datepicker-next {
  float: right;
}

.ui-datepicker-title {
  text-align: center;
}

.ui-datepicker-calendar {
  margin: 10px 11px;
}
.ui-datepicker-calendar td {
  padding: 1px 10px;
  text-align: center;
}
.ui-datepicker-calendar .ui-datepicker-current-day, .ui-datepicker-calendar .ui-datepicker-today {
  display: inline-block;
  padding: 24px 20px 24px 20px;
  line-height: 20px;
  -moz-transition: 0.3s background ease;
  -o-transition: 0.3s background ease;
  -webkit-transition: 0.3s background ease;
  transition: 0.3s background ease;
  display: block;
  color: #FFF;
  background: #cc181e;
  font-weight: 400;
  font-size: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  padding: 3px;
}
.ui-datepicker-calendar .ui-datepicker-current-day:hover, .ui-datepicker-calendar .ui-datepicker-today:hover {
  background: #e73036;
}
.ui-datepicker-calendar .ui-datepicker-today {
  border-color: #FFF;
}

button.ui-state-default {
  border: none;
  padding: 3px 7px;
  font: 14px/24px 'Ubuntu', sans-serif;
  display: inline-block;
  padding: 24px 20px 24px 20px;
  line-height: 20px;
  -moz-transition: 0.3s background ease;
  -o-transition: 0.3s background ease;
  -webkit-transition: 0.3s background ease;
  transition: 0.3s background ease;
  display: block;
  color: #FFF;
  background: #cc181e;
  font-weight: 400;
  font-size: 20px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
}
button.ui-state-default:hover {
  background: #e73036;
}

.ui-datepicker-close {
  float: right;
}
